<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ポケモン詳細データ</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body class="bg-light">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="card" style="max-width: 800px;">
                <div class="card-header text-center mt-3 bg-info">
                    <!-- ポケモンのロゴ画像を表示 -->
                    <img src=" {{ url_for('static',filename='images/pokemon_logo.png')}}" alt="Pokemon Logo" class="img-fluid mb-3">
                </div>
                <div class="card-body text-center">
                    <!-- ポケモンデータの画像を表示 -->
                    <img src="{{ pokemon['image_url']}}" class="img-fluid mb-4" style="max-height: 300px;" alt="Pokemon Image">
                    <!-- ポケモンデータのidと名前を表示 -->
                    <h2 class="mb-4"><strong>No.{{ pokemon['id']}}</strong></h2>
                    <h1 class="mb-4"><strong>{{ pokemon['name']}} </strong></h1>

                    <!-- ポケモンデータのステータス表示 -->
                    <ul class="list-group list-group-flush text-start">
                        <li class="list-group-item"><strong>HP:{{ pokemon['hp']}} </strong></li>
                        <li class="list-group-item"><strong>こうげき:{{ pokemon['attack']}}</strong></li>
                        <li class="list-group-item"><strong>ぼうぎょ:{{ pokemon['defense']}}</strong></li>
                        <li class="list-group-item"><strong>とくこう:{{ pokemon['special_attack']}}</strong></li>
                        <li class="list-group-item"><strong>とくぼう:{{ pokemon['special_defense']}}</strong></li>
                        <li class="list-group-item"><strong>すばやさ:{{ pokemon['speed']}}</strong></li>
                    </ul>
                </div>
                <div class="card-footer text-center">
                    <!-- 一覧画面に戻る -->
                    <a href="{{ url_for('index')}}" class="btn btn-primary">戻る</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
